@model IEnumerable<FileContext>


@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Metinleriniz Burda güvendedir.</h1>
</div>
<span>@ViewBag.Message</span>

<form asp-controller="Home" enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label>Sadece Text Dosyaları Yüklenir</label>
        </dt>
        <dd>
            <input name="text" type="file">
            <span></span>
        </dd>
    </dl>
    <input class="btn btn-success" type="submit" value="Upload" />

</form>

@foreach (var item in Model)
    {
        <table>
            <tr>
                <th>Text</th>
                <th>Data</th>
                <th>UserId</th>
                <th>UserName</th>

            </tr>
            <tr>
                <td>@item.text</td>
                <td>@item.date</td>
                <td>@item.UserId</td>
                <td>@item.UserName</td>
            </tr>
        </table>
    }

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 2px solid black;
            padding: 15px;
        }
    </style>
